body{
    text-align: center;
}

@media screen and (min-width: 48em){
    body{
        text-align: justify;
    }
}

.app a:link
{
    text-decoration: none;
}

.list-group
{
    overflow-y: auto;
    max-height: 200px;
}
.app a
{
    color: #777777;
    text-align: center;
}

.app
{
    margin-bottom:50px!important;
}

.container:focus
{
    outline: none;
}

.row a {
    color: #777777;
    text-decoration: none;
    font-size: 115%;
}

.row a:hover
{
    color: #D61C58;
    text-decoration: none;
}
.container
{
    color: #D61C58;
    border-color: transparent;
}

.bg-dark
{
    background: linear-gradient(to right, #D61C58, #E65E4B)!important;
}

.py-5
{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%!important;
    width: 100%;
    text-align: center;
    padding-top: 20px!important;
}

.modal-content
{
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #D61C58;
    border-color: #D61C58;
}

.btn-primary:hover
{
    background-color: #777777;
    border-color: #777777;
}

h2
{
 padding-top: 5%;
}

/* Zwarte automatische uitijn van Chrome weg */
.mb-4, .my-4 {
    outline: none;
}

/* sorteerfunctie styling */

.app button, select {
    text-transform: none;
    background: transparent;
    border: #777777;
    color: #777777;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
}

img
{
    pointer-events: none;

}

/* Styles the thumbnail */

a.lightbox img {
    height: 150px;

    margin: 10px 1px 2px 1px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

.lightbox-target:before {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

.lightbox-target:before {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 0px;
}

